@{
    ViewData["Title"] = "Kreator";
}

@section head {
    <link rel="stylesheet" href="~/css/creator.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/Kreator.js"></script>
    <script src="~/js/Zapisz.js"></script>
}

<h1>Kreator</h1> <button id="Save">Zapisz</button>
    <div id="zoom-content">

        @* <div class="global">
        <div class="parent">

        </div>
        <div class="children">

        </div>
        </div> *@

        <div class="global">
            <div class="parent">
                <input type="hidden" name="id" value="0" />                
                @* opis <input type="type" name="description" value="" /> *@
                opis <textarea name="description"></textarea>
                obraz <input type="file" name="imagePath" value="" />
                <hr />
                ilosc decyzji
                <select name="decisionCount">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>end</option>
                </select>
                <input type="hidden" name="children" value="" />
            <input type="button" value="Stwórz" class="create-button" name="Create" value="" />
            @* <input type="button" value="Usuń" class="delete-button" name="Delete" value="" /> *@
            </div>
            <div class="children">
            </div>
        </div>
    </div>

