@{
    ViewData["Title"] = "Kreator";
}

@section head {
    <link rel="stylesheet" href="~/css/creator.css" />
    <script src="~/js/Kreator.js"></script>
}

<h1>Kreator</h1>
@* div id="controls">
    <img src="~/images/start-button.png" alt="Start" />
    <img src="~/images/normal-button.png" alt="Normal" />
    <img src="~/images/decision-button.png" alt="Decision" />
    <img src="~/images/end-button.png" alt="Stop" />
</div> *@

    <div id="zoom-content">

        @* <div class="global">
        <div class="parent">

        </div>
        <div class="children">

        </div>
        </div> *@

        <div class="global">
            <div class="parent">                
                opis <input type="type" name="name" value="" />
                obraz <input type="file" name="name" value="" />
                <hr />
                ilosc decyzji
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>end</option>
                </select>
                <input type="button" value="Stwórz" name="name" value="" />
                <input type="button" value="Usuń" name="name" value="" />
            </div>
            <div class="children">
                <div class="global">
                    <div class="parent">
                        opis <input type="type" name="name" value="" />
                        obraz <input type="file" name="name" value="" />
                        <hr />
                        ilosc decyzji
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>end</option>
                        </select>
                        <input type="button" value="Stwórz" name="name" value="" />
                        <input type="button" value="Usuń" name="name" value="" />
                    </div>
                    <div class="children">
                        <div class="global">
                            <div class="parent">
                                opis <input type="type" name="name" value="" />
                                obraz <input type="file" name="name" value="" />
                                <hr />
                                ilosc decyzji
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>end</option>
                                </select>
                                <input type="button" value="Stwórz" name="name" value="" />
                                <input type="button" value="Usuń" name="name" value="" />
                            </div>
                            <div class="children">
                            </div>
                        </div>
                        <div class="global">
                            <div class="parent">
                                opis <input type="type" name="name" value="" />
                                obraz <input type="file" name="name" value="" />
                                <hr />
                                ilosc decyzji
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>end</option>
                                </select>
                                <input type="button" value="Stwórz" name="name" value="" />
                                <input type="button" value="Usuń" name="name" value="" />
                            </div>
                            <div class="children">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="global">
                    <div class="parent">
                        opis <input type="type" name="name" value="" />
                        obraz <input type="file" name="name" value="" />
                        <hr />
                        ilosc decyzji
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>end</option>
                        </select>
                        <input type="button" value="Stwórz" name="name" value="" />
                        <input type="button" value="Usuń" name="name" value="" />
                    </div>
                    <div class="children">
                        <div class="global">
                            <div class="parent">
                                opis <input type="type" name="name" value="" />
                                obraz <input type="file" name="name" value="" />
                                <hr />
                                ilosc decyzji
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>end</option>
                                </select>
                                <input type="button" value="Stwórz" name="name" value="" />
                                <input type="button" value="Usuń" name="name" value="" />
                            </div>
                            <div class="children">
                            </div>
                        </div>
                        <div class="global">
                            <div class="parent">
                                opis <input type="type" name="name" value="" />
                                obraz <input type="file" name="name" value="" />
                                <hr />
                                ilosc decyzji
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>end</option>
                                </select>
                                <input type="button" value="Stwórz" name="name" value="" />
                                <input type="button" value="Usuń" name="name" value="" />
                            </div>
                            <div class="children">
                            </div>
                        </div>
                        <div class="global">
                            <div class="parent">
                                opis <input type="type" name="name" value="" />
                                obraz <input type="file" name="name" value="" />
                                <hr />
                                ilosc decyzji
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>end</option>
                                </select>
                                <input type="button" value="Stwórz" name="name" value="" />
                                <input type="button" value="Usuń" name="name" value="" />
                            </div>
                            <div class="children">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

