@{
    ViewData["Title"] = "Kreator";
}

@section head {
    <link rel="stylesheet" href="~/css/creator.css" />
    <script src="~/js/Kreator.js"></script>
}

<h1>Kreator</h1>
<div id="controls">
    <img src="~/images/start-button.png" alt="Start" />
    <img src="~/images/normal-button.png" alt="Normal" />
    <img src="~/images/decision-button.png" alt="Decision" />
    <img src="~/images/end-button.png" alt="Stop" />
</div>
<div id="zoom-container">
    <div id="zoom-content">
        <!-- Twoje treści tutaj -->
        <img src="~/images/start.png" id="start" alt="Sample Image" />
        <div class="line"></div>
        <div class="normal">
            <input type="file" />
            <textarea></textarea>
        </div>
        <div class="line"></div>
        <div class="decision-container">
            <div class="decision">
                <input type="file" />
                <textarea></textarea>
            </div>
            <div class="dupa">
                <div class="custom-div">
                    <div class="line"></div>
                    <div class="normal">
                        <input type="file" />
                        <textarea></textarea>
                    </div>
                    <div class="line"></div>
                    <div class="decision-container">
                        <div class="decision">
                            <input type="file" />
                            <textarea></textarea>
                        </div>
                        <div class="dupa">
                            <div class="custom-div">
                                <div class="line"></div>
                                <div class="normal">
                                    <input type="file" />
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="custom-div">
                                <div class="line"></div>
                                <div class="normal">
                                    <input type="file" />
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="custom-div">
                                <div class="line"></div>
                                <div class="normal">
                                    <input type="file" />
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="custom-div">
                    <div class="line"></div>
                    <div class="normal">
                        <input type="file" />
                        <textarea></textarea>
                    </div>
                    <div class="line"></div>
                    <div class="decision-container">
                        <div class="decision">
                            <input type="file" />
                            <textarea></textarea>
                        </div>
                        <div class="dupa">
                            <div class="custom-div">
                                <div class="line"></div>
                                <div class="normal">
                                    <input type="file" />
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="custom-div">
                                <div class="line"></div>
                                <div class="normal">
                                    <input type="file" />
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="custom-div">
                                <div class="line"></div>
                                <div class="normal">
                                    <input type="file" />
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="custom-div">
                    <div class="line"></div>
                    <div class="normal">
                        <input type="file" />
                        <textarea></textarea>
                    </div>
                        <div class="line"></div>
                        <div class="normal">
                            <input type="file" />
                            <textarea></textarea>
                        </div>
                </div>
            </div>
            
        </div>

        

    </div>
</div>
<div id="main"></div>


