@{
    ViewData["Title"] = "Odtwarzacz";
}

@section head {
    <link rel="stylesheet" href="~/css/player.css" />
}

<h1>Odtwarzacz</h1>
<div id="controls">
    <img src="~/images/play-button.png" alt="Play" />
    <img src="~/images/stop-button.png" alt="Stop" />
</div>
<div id="main">

</div>