@{
    ViewData["Title"] = "Home Page";
}

@section head {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="text-center">
    <h1 class="display-4">Menu główne</h1>
    <div id="main">
        <a class="nav-link text-dark" asp-area="" asp-controller="Story" asp-action="Index"><img src="~/images/creator.png" alt="Kreator opowieści" /></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Stories" asp-action="Index"><img src="~/images/player.png" alt="Zagraj" /></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Stories" asp-action="Index"><img src="~/images/update.png" alt="Zupdatuj" /></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Stories" asp-action="Index"><img src="~/images/delete.png" alt="Usuń" /></a>
        
    </div>
</div>
