img {
    width: 70px;
}

    img:hover {
        filter: brightness(.8);
        cursor: pointer;
    }

#controls {
    margin: 10px;
}

#main {
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
}

.global {
    display: flex;
    
}

.parent {
    display: flex;
    align-self: center;
    flex-direction: column;
    background: red;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: all .2s;
}

    .parent.small {
        width: 50px;
        height: 50px;
        overflow: hidden;
        transition: all 0.2s;
    }

        .parent.small * {
            visibility: hidden; /* Ukryj wszystkie dzieci, gdy element jest mały */
        }

        .parent.small ~ .children {
            margin: 5px 0; /* Zmniejsz marginesy dla children, gdy parent jest mały */
        }

.children {
    display: flex;
    flex-direction: column;
    /*background: orange;*/
    margin: 40px 0;
}

#zoom-content {
    border: 1px solid black;
    width: calc(100% - 20px);
    height: 500px;
    overflow: scroll;
    background-color: #7dffb8;
    position: fixed;
}

.container {
    margin: 0;
    padding: 0 10px;
}

.global .parent:hover {
    background-color: blueviolet;
    transition: all .3s;
}

    .global .parent:hover ~ .children .parent {
        background-color: blueviolet;
        transition: all .5s;
    }

#creator-header{
    display:flex;
    justify-content:space-between
}